/* Reset Global do CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Padronização de Cores através de variáveis */
:root{
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--lightGray);
    font-family: 'Outfit', sans-serif;
}

/*Para o conteúdo da página ficar centralizado verticalmente e horizontalmente*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Container principal*/
.card{
    background-color: var(--white);
    padding: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    text-align: center;
    max-width: 350px;
}

.card img{
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 20px;
}

.card h1{
    font-weight: 700;
}

.card p{
    margin: 20px 25px;
    color: var(--grayishBlue);
    font-size: 15px;
    font-weight: 400;
}
